@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

/* 
relative and absolute positions?
knowing when to use 50% + height, width.
*/

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

* {
  box-sizing: border-box;
}

/* align everything in the center of the page. */
body {
  font-family: "Muli", sans-serif;
  background-color: #f6f7fb;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

/* the container is centered in the page. */
.container {
  text-align: center;
}

/*  */
.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

/* progress bg bar */
.progress-container::before {
  content: ""; /* Mandatory with ::before */
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 6px;
  width: 100%;
  z-index: -1;
}

/* progress bar updating the value of width from JS. */
.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%; 
  left: 0px;
  transform: translateY(-50%); 
  height: 6px;
  width: 100%;
  z-index: -1;
  transition: 0.5s ease;
}

/* 
  everything about the circles. 
  store all the root values here.
  & for specific style create a class 
  for the specified.
*/
.circle {
  background-color: #fff;
  color: #999;
  /* (b-r,h,w) combo  */
  border-radius: 50%;
  height: 35px;
  width: 35px; 
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
/* transition-loading all cxztn of the circle. */
  transition: 0.4s ease;
}

/* active circles highlighted. */
.circle.active {
  border-color: var(--line-border-fill);
}

/*  customize how the button looks and placed.  */
.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

/* each time you click on a button it scales. */
.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0px;
  background-color: aqua;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
